<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Результат</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<% unless params['pay-off'] == 'Usual' || params['pay-off'] == 'Equal' %>
    <p>is error credit type</p>
<% end %>

<body class="buffer-left buffer-bot">
<% require_relative '../lib/credit_calculator' %>
<% if defined?(params) && (params['pay-off'] == 'Usual' || params['pay-off'] == 'Equal') %>
    <% credit_calculator = CreditCalculator.new(@params) %>
    <% sums = credit_calculator.credit_off %>

    <% unless sums.last.last.to_f == 0 && sums.last[2].to_f != 0 %>
        <p>not valid values</p>
    <% end %>

    <% if sums.last.last.to_f == 0 && sums.last[2].to_f != 0 %>

        <p class="buffer-top-10">Процентная ставка: <%= credit_calculator.percent_for_show %> %</p>
        <p class="buffer-bot">Сумма кредита: <%= credit_calculator.credit_sum %></p>

        <table class="result-table">
          <tr>
            <th>номер месца</th>
            <th>погашение кредита</th>
            <th>погашение %</th>
            <th>общий взнос</th>
            <th>остаток кредита</th>
          </tr>
          <% sums.each_with_index do |v, index| %>
              <tr>
                <td style="text-align: left"><%= index + 1 %></td>
                <td><%= v[0] %></td>
                <td><%= v[1] %></td>
                <td><%= v[2] %></td>
                <td><%= v[3] %></td>
              </tr>
          <% end %>

          <tr>
            <td></td>
            <td><%= credit_calculator.credit_sum %></td>
            <td><%= credit_calculator.global_percent_sum %></td>
            <td><%= credit_calculator.global_sum %></td>
            <td></td>
          </tr>
        </table>
    <% end %>
<% end %>
</body>
</html>